@font-face {
    font-family: "Title Cursive";
    src: url();
}

*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px;
    background-color: darkgrey;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 100vw;
    height: 100px;
    color: black;
}
h1 li a{
    font-size: 50px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 100vw;
    height: 100px;
    color: black;
}

h2{
    font-size: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 100vw;
    height: 100px;
    color: black;
}

.ropa ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: lightgrey;
}

.ropa ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: white;
}

.oferta ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    background-color: lightgrey;
}

.oferta ul p{
    background-color: white;
    padding: 5px;
}

.imagenes div{
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightgrey;
    height: 5000px;
}

.imagenes div img{
    height: 400px;
    width: 280px;
    padding: 10px;
}

.promoVideo iframe{
    display: flex;

}
.promoVideo h3{
    display: flex;
    height: 50px;
    width: 1450px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.promoVideo p{
    display: flex;
    height: 45px;
}

.products nav{
    display: flex;
    padding: 50px;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: lightgrey;
    height: 500px;
}

.products nav img{
    height: 400px;
    width: 280px;
    padding: 10px;
}

.products nav p{
    display: flex;
} 